<%include file="header.tmpl"/>

		<div id="main" role="main">
			<div id="content">
				<section>
					<section class="entry-content">
						<div class="marquee">
							<h3><span>${text}</span></h3>
							<form method="post" action="${param_post_to}">
% if param_q_uid:
<div class="answer_form">
<dl><br>
<dt><span class="red">■</span><img src="${param_q_tgt[param_q_uid].profile_image_url}"> @${param_q_tgt.pop(param_q_uid).screen_name}さん</dt>
<dd>
% for i2 in param_q_options:
<input type="radio" name="${param_q_uid}" value="${param_q_options.index(i2)}">${i2}
% endfor
</dd>
</dl>
</div>
% endif
% for i in param_q_tgt:
<div class="answer_form">
<dl>
<dt><span class="yellow">■</span><img src="${param_q_tgt[i].profile_image_url}"> @${param_q_tgt[i].screen_name}さん</dt>
<dd>
% for i2 in param_q_options:
<input type="radio" name="${i}" value="${param_q_options.index(i2)}">${i2}
% endfor
</dd>
</dl>
</div>
% endfor
                            <div class="question_ok"><input type="image" src="img/post-btns_red.png" width="131" height="131" alt="投稿する"></div>
						</div>
					</section>
				</section>
			</div>
		</div>

<%include file="footer.tmpl"/>