<%include file="header.tmpl"/>

		<div id="main" role="main">
			<div id="content">
				<section>
					<section class="entry-content">
						<div class="marquee">
							<h3><span>${text}</span></h3> 
                            <div class="answer_form">
                            	<dl>
                            		<dt><span class="yellow">■</span> タイトル <span class="bit">*</span></dt>
                            		<dd>
										<input type="text" value="" maxlength="30" name="tit" autocomplete="off" id="01" style="width: 15em" class="form1">
                                    </dd>
                            	</dl>
                            </div>
                            <div class="answer_form">
                            	<dl>
                            		<dt><span class="green">■</span> 説明文 <span class="bit">*</span></dt>
                            		<dd>
									  <input type="text" value="" maxlength="30" name="guide" autocomplete="off" id="02" style="width: 15em" class="form2">
                                    </dd>
                            	</dl>
                            </div>
                            <div class="answer_form">
                            	<dl>
                            		<dt><span class="blue">■</span> 結果表示テキスト <span class="bit">*</span></dt>
                            		<dd>
										<input type="text" value="" maxlength="30" name="guide" autocomplete="off" id="02" style="width: 15em" class="form2">
                                    </dd>
                            	</dl>
                            </div>
                            <div class="question_ok"><a href="#"><img src="img/ok-btns_yellow.png" alt="確認する" width="131" height="131"></a></div>
						</div>
					</section>
				</section>
			</div>
		</div>

<%include file="footer.tmpl"/>