#coding:utf-8

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>${title}まともったー(matomotter)β</title>
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<meta name="description" content="hogehoge" />
</head>

<body>
<div id="container" class="hfeed">
<header>
	<div class="wrap">
		<hgroup id="branding" role="banner">
			<h1 id="site-title"><a href="./" title="matomotter" rel="home"><span>matomotter</span></a></h1>
			<h2 id="site-description"><span>Creating questions</span></h2>
		</hgroup>
        <nav id="menu-primary" class="menu-container" role="navigation">
            <div class="menu">
                <ul id="menu-primary-items">
                    <li><a href="./">ホーム</a></li>
                    <li><a href="./?m=make">質問を作成する</a></li>
                    <li><a href="./">質問に回答する</a></li>
                    <li><a href="./">最新の質問</a></li>
                    <li>${login_toggle}</li>
                </ul>
            </div>
        </nav>
	</div>
</header>