#coding:utf-8
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>${title}まともったー(matomotter)β</title>
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<meta name="description" content="hogehoge"/>
</head>

<body>
<div id="container" class="hfeed">
<header>
	<div class="wrap">
		<hgroup id="branding" role="banner">
			<h1 id="site-title"><a href="./" title="matomotter" rel="home"><span>matomotter</span></a></h1>
			<h2 id="site-description"><span>Creating questions</span></h2>
		</hgroup>
        <nav id="menu-primary" class="menu-container" role="navigation">
            <div class="menu">
                <ul id="menu-primary-items">
                    <li><a href="./">ホーム</a></li>
                    <li><a href="./?m=make">質問を作成する</a></li>
                    <li><a href="./">質問に回答する</a></li>
                    <li><a href="./">最新の質問</a></li>
                    <li><a href="./">質問一覧</a></li>
                </ul>
            </div>
        </nav>
	</div>
</header>