<%include file="header.tmpl"/>
<div id="main" role="main">
	<div id="content">
		<section>
			<section class="entry-content">
				<div class="marquee"> <h2><span id="result_box" lang="en">Creating questions</span></h2> 
					<h3><span>${text}</span></h3> 
				</div>
                        <ul id="service-list">
                        	<li id="res"><a href="./">RedBall</a></li>
                            <li id="yellow"><a href="./?m=make">質問を作成する</a></li>
                            <li id="green"><a href="./">質問を見る</a></li>
                            <li id="blue"><a href="./">BlueBall</a></li>
                         </ul> <p class="cool">Produce by matomotter</p>
			</section>
		</section>
	</div>
</div>
<%include file="footer.tmpl"/>