<%include file="header.tmpl"/>

			<div class="wrap">
				<hgroup id="branding" role="banner">
					<h1 id="site-title"><a href="index.html" title="matomotter" rel="home"><span>matomotter</span></a></h1>					
					<h2 id="site-description"><span>Creating questions</span></h2>
				</hgroup>
        <nav id="menu-primary" class="menu-container" role="navigation">
            <div class="menu">
                <ul id="menu-primary-items">
                    <li><a href="index.html">ホーム</a></li>
                    <li><a href="create.html">質問を作成する</a></li>
                    <li><a href="answer.html">質問に回答する</a></li>
                    <li><a href="new.html">最新の質問</a></li>
                    <li><a href="list.html">質問一覧</a></li>
                </ul>
            </div>
        </nav>
			</div>
		</header>
		<div id="main" role="main">
			<div id="content">
				<section>
					<section class="entry-content">
						<div class="marquee">
							<h3><span>最新の質問</span></h3> 
                            <div class="question_form">
                            	必要なら最新の質問でも表示できるよ。
                            </div>
						</div>
					</section>
				</section>
			</div>
		</div>

<%include file="footer.tmpl"/>